<!DOCTYPE html>
<html>
<%- include head.html %>
<body>
<%- include header.html %>
<!-- banner -->
<div class="banner page-head">
</div>
<!-- //banner -->
<!-- about -->
<div class="about">
	<div class="container">
					<div class="help-info">
						<h2 class="tittle">ABOUT</h2>
					</div>
					<div class="about-grids">
						<div class="col-md-5 about-grid-left">
							<img src="home/images/g5.jpg" alt=""/>
						</div>
						<div class="col-md-7 about-grid">
							<h3>NEQUE PORRO QUISQUAM EST, QUI </h3>
							<p>Sed ut perspiciatis unde omnis iste natus error sit 
							voluptatem accusantium doloremque laudantium, totam rem aperiam, 
							eaque ipsa quae ab illo inventore veritatis et numquam eius modi 
							tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
							Ut enim ad minima veniam, quis nostrum</p>
							<p>numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
							Ut enim ad minima veniam, quis nostrum exercitation modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
							Ut enim ad minima veniam, quis</p>
						</div>
						<div class="clearfix"></div>
					</div>
	</div>
</div>
<div class="help-grids">
	<div class="container">
			<div class="col-md-4 help-grid">
				<h3 class="tittle tit3">WHO WE ARE</h3>
				<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
				consectetur, adipisci velit, sed quia non numquam eius modi tempora 
				incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim 
				ad minima veniam, quis nostrum exercitationem ullam corporis suscipit</p>
			</div>
			<div class="col-md-4 help-grid">
				<h3 class="tittle tit3">WHAT WE DO</h3>
				<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
				consectetur, adipisci velit, sed quia non numquam eius modi tempora 
				incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim 
				ad minima veniam, quis nostrum exercitationem ullam corporis suscipit</p>
			</div>
			<div class="col-md-4 help-grid">
				<h3 class="tittle tit3">WHY US?</h3>
				<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
				consectetur, adipisci velit, sed quia non numquam eius modi tempora 
				incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim 
				ad minima veniam, quis nostrum exercitationem ullam corporis suscipit</p>
			</div>
			<div class="clearfix"></div>
	</div>
</div>
<div class="about-bottom-last">
	<div class="container">
				<div class="help-info">
					<h3 class="tittle">TESTIMONIALS</h3>
				</div>
				<div class="client-say-grids">
					<div class="col-md-3 client-say-grid">
						<p>At vero eos et accusamus 
						et iusto odio dignissimos ducimus 
						qui blanditiis praesentium voluptatum 
						deleniti atque corrupti quos dolores 
						et quas molestias excepturi sint </p>
						<h4>PATRICK, CLIENT</h4>
					</div>
					<div class="col-md-3 client-say-grid">
						<p>At vero eos et accusamus 
						et iusto odio dignissimos ducimus 
						qui blanditiis praesentium voluptatum 
						deleniti atque corrupti quos dolores 
						et quas molestias excepturi sint </p>
						<h4>THOMPSON, CLIENT</h4>
					</div>
					<div class="col-md-3 client-say-grid">
						<p>At vero eos et accusamus 
						et iusto odio dignissimos ducimus 
						qui blanditiis praesentium voluptatum 
						deleniti atque corrupti quos dolores 
						et quas molestias excepturi sint </p>
						<h4>JOHN DOE, CLIENT</h4>
					</div>
					<div class="col-md-3 client-say-grid">
						<p>At vero eos et accusamus 
						et iusto odio dignissimos ducimus 
						qui blanditiis praesentium voluptatum 
						deleniti atque corrupti quos dolores 
						et quas molestias excepturi sint </p>
						<h4>ANDER SON, CLIENT</h4>
					</div>
					<div class="clearfix"></div>
				</div>
	</div>
</div>
<!-- //about -->
<%- include footer.html %>
</body>
</html>
