<!-- header -->
<div class="header">
    <div class="container">
        <div class="header-nav">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1><a class="navbar-brand" href="/"><i class="glyphicon glyphicon-education" aria-hidden="true"></i><span>实验</span>中心</a></h1>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a class="hvr-overline-from-center button2" href="/">主页</a></li>
                        <li><a class="hvr-overline-from-center button2" href="/typography">报名</a></li>
                        <li><a class="hvr-overline-from-center button2" href="/services"> 服务（资源下载）</a></li>
                        <li><a class="hvr-overline-from-center button2" href="/contact">学术问答</a></li>
                        <li><a class="hvr-overline-from-center button2" href="/about">关于我们</a></li>
                    </ul>
                    <!--<div class="search-box">-->
                        <!--<div id="sb-search" class="sb-search">-->
                            <!--<form>-->
                                <!--<input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">-->
                                <!--<input class="sb-search-submit" type="submit" value="">-->
                                <!--<span class="sb-icon-search"> </span>-->
                            <!--</form>-->
                        <!--</div>-->
                    <!--</div>-->
                </div><!-- /navbar-collapse -->

                <!-- search-scripts -->
                <!--<script src="/home/js/classie.js"></script>-->
                <!--<script src="/home/js/uisearch.js"></script>-->
                <!--<script>-->
                    <!--new UISearch( document.getElementById( 'sb-search' ) );-->
                <!--</script>-->
                <!-- //search-scripts -->
            </nav>
        </div>
    </div>
</div>
<!-- banner -->