<head>
    <title><%=title%></title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- //for-mobile-apps -->
    <link href="/home/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/home/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="/home/css/swipebox.css">
    <script src="/home/js/modernizr.custom.js"></script>
    <script src="javascripts/jquery-2.1.4.min.js"></script>

</head>